* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #FB2E86;
}

a {
    text-decoration: none;
}

body {
    height: 6000px;
}

.header .container {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    background-color: antiquewhite;
    width: 100%;
    height: 90px;
}

.menu {
    display: none;
}

@media screen and (min-width:0) and (max-width:990px) {

    .header .form,
    .header .list {
        display: none;
    }

    .menu {
        display: block;
    }
}

.header .container .list a:hover {
    color: red;
    font-size: 19px;
}

.header .container .list a {
    transition: color 1s, font-size 1s;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    color: #0D0E43;
    font-style: Lato;
}

.hekto {
    margin: 0 100px;
}

input {
    border: 0;
}

.Icon {
    border: 0;
    padding: 6px;
    background-color: var(--primaryColor);
}

form {
    margin: 0 100px;
    border: 2px solid #E7E6EF;
    display: flex;
}

.Home {
    color: var(--primaryColor);
}

.items {
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.item {
    width: calc((100% - 45px)/4);
    border: 1px solid red;
    font-size: 20px;
}